* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
}

:root {
  --primary-dark: #1c1c1c;
  --secondary-blue: #0282f9;
  --light-header: #ffffff;
  --gray-main: #949494;
  --gray-footer: #303030;
  --blue-follow: #0581f2;
}

.container {
  width: 70%;
  max-width: 1176px;
  margin: auto;
}

.d-flex {
  display: flex;
}

/* Media Query */

@media screen and (min-width: 568px) {
  .container {
    width: 80%;
    max-width: 520px;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .col-md-4 {
    width: calc(100% / 12 * 4);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }

  .col-lg-2 {
    width: calc(100% / 12 * 2);
  }
}